html {
	
	width: 100%;
	height: 100%;
}


body {
	background-image: url('../img/bg.png');
	background-repeat:no-repeat;
	padding-top: 70px;
}

.navbar-default {
    background-color: #c92522;
    border-color: #E7E7E7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #feb4b2;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
	font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #000;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

.navbar-brand {
  float: none;
}


#info {
	margin-left: -5px;
	width: 95%;
}

#cartes {
	margin-left: 10px;
	width: 95%;
}


/* Google Chrome */
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}

/* left div */

#laifte {
  width: 290px;
  position: fixed;
  left: 0px;
  top: 50px;
  border-radius: 0;
  height: 100%;
  border-right: 1px solid #a8a7a7;
  background-color : white;
}


#laifte + .container {
  padding-left: 290px;
}

#section_laifte {
	background-color: #ebebeb;
	border-bottom: 1px solid #a8a7a7;
	border-top: 1px solid #a8a7a7;
	height: 100px;
	width: 289px;
}

.section_laifte-h1  {
	display: inline-block;
	position: relative;
	margin-left: 15px;
	margin-top: 15px;
	vertical-align: middle;
	text-align: center;
	font-size: 24px;
	height: 24px;
}

.section_laifte-img {
	margin-top : 28px;
	margin-left : 40px;
}

#level {
margin: 0 auto;
position: relative;
width: 100%;
	
}

.credits {
	font-size: 12px;
}

#score {
	margin-left: 300px;
	margin-top: 60px;
	width: 666px;
	height: 700px;
	border-radius: 6px;
	border: 3px solid #474747;
	background-color: #1c1b1b;
}

#score-top {
	height: 160px;
	border-bottom: 3px solid #474747;
}


#score-bottom {
	height: 534px;
	width: 100%;
	background-color: white;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

#resultats {
	width: 100%;
}

.title-level-base {
	position: absolute;
	font-size: 18px;
	margin-left: 50px;
	margin-top: 30px;
}

@font-face {
    font-family: Riffic;
    src: url('../font/Riffic.ttf');
}

.level-base {
	font-size: 72px;
	font-family: Riffic;
	margin-left: 50px;
	margin-top: 35px;
	color: #ff7900;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	 -webkit-font-smoothing: antialiased;
}

.level-base-percent {
	font-size: 30px;
	font-family: Riffic;
	margin-left: 0px;
	margin-top: 60px;
	color: #8e8e8e;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	 -webkit-font-smoothing: antialiased;
}

.title-classe-base {
	display: inline-block;
	font-size: 18px;
	margin-left: 50px;
	margin-top: 30px;
}

.level-classe {
	display: inline-block;
	font-size: 72px;
	font-family: Riffic;
	margin-left: 50px;
	margin-top: -40px;
	color: #ff7900;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	 -webkit-font-smoothing: antialiased;
}

.level-classe-percent {
	margin-top: -160px;
	margin-left: 10px;
	font-size: 30px;
	font-family: Riffic;
	color: #8e8e8e;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	 -webkit-font-smoothing: antialiased;
}

.title-cartes {
	display: inline-block;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 30px;
}

.cartes-nombre {
	display: inline-block;
	font-size: 72px;
	font-family: Riffic;
	margin-left: 20px;
	margin-top: -40px;
	color: #ff7900;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	 -webkit-font-smoothing: antialiased;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield; 
}



















