body {
	width : 100%;
    margin: 0px auto;
    text-align: center;
}

#contenu {
	margin: 0px auto;
	margin-top : 20px;
	width : 750px;
}

#resultat {
	display: none;
}	

.inputCalc {
	margin: 2px;
}

#info {
	margin-top: -2px;
	float:left;
}

#cartes {
	float:left;
}

#bloque1 {
	float:left;
	margin-top : -2px;
	margin-left:10px;
}

#bloque2 {
	float:left;
	margin-top:20px;
}

#bloque3 {
	float:left;
	margin-top:20px;
}

#resultat {
	float:left;
	margin-top:22px;
	margin-left:0px;
	height : 150px;
}

table
{
    border-collapse: collapse;
}
td, th 
{
    border: 1px solid black;
	text-align: center;
}


/* Firefox */
input[type=number] {-moz-appearance: textfield; width:143;}

/* Google Chrome */
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}